.searchPanel_wrp{
    margin-top: 80px;
    h2{
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
    }
    .panel {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    .pnael_input{
        width: 575px;
        height: 50px;
        background: #F2F2F2;
        border-radius: 15px;
        color: #848484;
        padding: 15px 0 15px 30px;
        border: 0px;
    }
}
.panel_button{
    background: #F2F2F2;
    border-radius: 15px;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7723d6;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    transition: all .3s ease-in-out;
    border: 0px;
}
.panel_button:hover{
    transform: translateY(-5px);
}
.clicked{
    background: #3632F4;
    color: #F2F2F2;
    transition: .3s ease-in-out;
}
@media screen and (max-width: 375px) {
    .searchPanel_wrp{
        margin-top: 60px;
        h2{
            width: 100%;
            text-align: center;
            font-weight: 800;
            font-size: 36px;
            line-height: 43px;
            color: #FFFFFF;
        }
        .panel {
            width: 100%;
            margin-top: 40px;
            display: grid;
            grid-gap: 15px;
            grid-template-areas:
            "A A A A A  A A A A A"
            "B B B B B  C C C C C"
            "D D D D D  E E E E E"
            "F F F F F  F F F F F";
            .panel_button{
                width: 100%;
            }
        }
        .pnael_input{
            width: 100%;
            height: 50px;
            background: #F2F2F2;
            border-radius: 15px;
            color: #848484;
            padding: 15px 0 15px 30px;
            border: 0px;
            grid-area: A;
        }
        .all{
            width: 100%;
            grid-area: F;
        }
        .Front{
            grid-area: B;
        }
        .Back{
            grid-area: C;
        }
        .SEO{
            grid-area: D;
        }
        .design{
            grid-area: E;
        }
    }
}