@import '../../style/variables.scss';
@import '../../style/button.scss';
.Hello-wrp {
    padding-top: 40px;
    .All_scill{
        margin: 0 auto;
        font-weight: 800;
        font-size: 100px;
        line-height: 120px;
        text-align: center;
        color: #FFFFFF;
        width: 976px;
    }
    .profes{
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
        .profes_item{
            cursor: pointer;
            padding: 10px;
            width: 278px;
            height: 121px;  
            background: #F2F2F2;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            transition: all .3s ease-in-out;
            img{
                width: 101px;
                height: 101px;
                transition: all .3s ease-in-out;
            }
            span{
                width: 141px;
                box-sizing: border-box;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: $color_main;
                transition: all .3s ease-in-out;
            }
        }
        :hover{
            transform: translateY(-5px);
        }
        .profes_item:hover{
            background-color: $color_main;
            span{
                color: #fff;
            }
        }
    }
    .txt_paragraph{
        margin-top: 35px;
        display: flex;
        justify-content: center;
        p{
            color: #fff;
            box-sizing: border-box;
            width: 278px;
        }
        .left{
            margin-right: 20px;
        }
    }
}         
@media screen and (max-width: 375px) {
    .Hello-wrp {
        .All_scill{
            margin: 0 auto;
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #FFFFFF;
            width: 100%;
        }
        .profes{
            display: block;
            .profes_item{
                width: 100%;
                margin-bottom: 10px;
                img{
                    width: 78px;
                    height: 68px;
                    transition: all .3s ease-in-out;
                }
                span{
                    width: 200px;
                    box-sizing: border-box;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 19px;  
                    color: $color_main;
                    transition: all .3s ease-in-out;
                }
            }
            .profes_item:last-child{
                margin-bottom: 0;
            }
        }
        .txt_paragraph{
            margin-top: 35px;
            display: block;
            p{
                color: #fff;
                box-sizing: border-box;
                width: 100%;
                text-align: center;
            }
        }
    }
}